# Ignore Gradle project-specific cache directory
.gradle
gradle/
gradlew*

# Ignore the directory containing the GPX files
gpxfiles
# Ignore Gradle build output directory
build
# Ignore compiled files
*.class
